.body {
	width: 2400px;
	height: 2306px;
	font-family: 'League Gothic', sans-serif;
}
.header{
	position: relative;
	background: black url(../img/bg-top.jpg) no-repeat;
	background-size: 100% 100%;
	width: 2400px;
	height: 846px;
}
.top__logo{
	position: relative;
	width: 165px;
	height: 38px;
	top: 70px;
	left: 720px;
	font: 400 48px / 33.724px 'League Gothic';
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.top__logo__PINGBULL{
	display: block;
	position: absolute;
	color: #ffffff;
	width: 125px;
	height: 36px;
}
.top__logo__ER{
	display: block;
	position: absolute;
	color: #553c61;
	width: 35px;
	height: 36px;
	left: 128px;
}

.top__menu{
	position: relative;
	width: 536px;
	height: 34px;
	top: 30px;
	left: 1047px;
}
.menu__a {
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	font: 400 24px / 33.724px 'League Gothic';
	margin-right: 27px;
	color: #ffffff;
	float: left;
}
.menu__a:hover {
	border-bottom: 1px solid #edbfff;
}
/*
.clierfix::after{
	content:'';
	clear:both;
	display:block;
}
*/

.header__slider{
	background-color: rgba(0, 0, 0, 0.2);
	 position: relative;
	 left: 0px;
	 top: 198px;
	 width: 2400px;
	 height: 400px;
}
.arrow__left {
/*	float: left;*/
	position: absolute;
	width: 28px;
	height: 38px;
	top: 180px;
	left: 402px;
}
.slider__text{
	position: relative;
	width: 540px;
	height: 241px;
	top: 80px;
	left: 718px;
}
.slider__text__top{
	position: absolute;
	color: #fefefe;
	font: 400 60px / 36px 'League Gothic';
}
.slider__text__slogan{
	position: absolute;
	top: 35px;
	color: #edbfff;
	font: 400 32px / 36px 'League Gothic';
	margin: 15px 15px 15px 0px;
}
.slider__text__text{
	position: absolute;
	top: 95px;
	font: 100 18px / 24px 'Open Sans';
	color: #ffffff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__iphones{
	position: absolute;
	width: 297px;
	height: 380px;
	top: -20px;
	left: 1412px;
}
.arrow__right{
/*	float: left;*/
	position: absolute;
	width: 28px;
	height: 38px;
	top: 180px;
	left: 1976px;
}

.slider{
	position: relative;
	width: 89px;
	height: 19px;
	top: 220px;
	left: 1520px;
}
.slider-black{
	position: absolute;
	width: 89px;
	height: 19px;
}
.slider-white{
	position: absolute;
	height: 19px;
	left: 22px;
}



.main{
	width: 2400px;
	height: 1350px;
	top: 846px;
	left: 0px;
}
.main__purple{
	background: black url(../img/bg-purple.jpg) no-repeat;
	width: 2400px;
	height: 342px;
	top: 846px;
	left: 0px;
	}
.main__purple__1{
	position: absolute;
	width: 325px;
	height: 252px;
	top: 932px;
	left: 732px;
}
.main__purple__2{
	position: absolute;
	width: 325px;
	height: 252px;
	top: 932px;
	left: 1065px;
}
.main__purple__3{
	position: absolute;
	width: 325px;
	height: 252px;
	top: 932px;
	left: 1407px;
}
.sprite-purple__1{
	background-image: url(../img/sprite-purple.png);
    background-repeat: no-repeat;
	position: absolute;
	background-position: 0px 0px;
	width: 29px;
	height: 29px;
	top: 13px;
	left: 0px;
}
.sprite-purple__2{
	background-image: url(../img/sprite-purple.png);
    background-repeat: no-repeat;
	position: absolute;
	background-position:  -28px 0px;
	width: 29px;
	height: 29px;
	top: 13px;
	left: 0px;
}
.sprite-purple__3{
	background-image: url(../img/sprite-purple.png);
    background-repeat: no-repeat;
	position: absolute;
	background-position: -58px 0px;
	width: 29px;
	height: 29px;
	top: 13px;
	left: 0px;
}

.purple__about__1 {
	position: absolute;
	color: #ffffff;
	width: 183px;
	height: 22px;
	font: 400 30px / 24px 'League Gothic';
	margin-left: 50px;
}
.purple__about__2{
	position: absolute;
	color: #ffffff;
	font: 400 30px / 24px 'League Gothic';
	width: 183px;
	height: 22px;
	margin-left: 50px;
}
.purple__about__3{
	position: absolute;
	color: #ffffff;
	font: 400 30px / 24px 'League Gothic';
	width: 183px;
	height: 22px;
	margin-left: 50px;
}
.purple__text__1{
	position: absolute;
	color: #ffffff;
	text-shadow: 0px 1px 0px #0f1518;
	font: 300 16px / 24px 'Open Sans';
	width: 239px;
	height: 123px;
	margin-left: 50px;
	margin-top: 30px;
}
.purple__text__2{
	position: absolute;
	color: #ffffff;
	text-shadow: 0px 1px 0px #0f1518;
	font: 300 16px / 24px 'Open Sans';
	text-shadow: 0px 1px 0px #0f1518;
	width: 239px;
	height: 123px;
	margin-left: 50px;
	margin-top: 30px;
}
.purple__text__3{
	position: absolute;
	color: #ffffff;
	text-shadow: 0px 1px 0px #0f1518;
	font: 300 16px / 24px 'Open Sans';
	width: 239px;
	height: 123px;
	margin-left: 50px;
	margin-top: 30px;
}
.purple__read__1{
	position: absolute;
	color: #ffffff;
	margin-top: 10px;
	width: 64px;
	height: 14px;
	top: 192px;
	left: 222px;
	font: 400 18px / 24px 'League Gothic';
	text-decoration: none;
}
.purple__read__2{
	position: absolute;
	color: #ffffff;
	margin-top: 10px;
	width: 64px;
	height: 14px;
	top: 192px;
	left: 222px;
	font: 400 18px / 24px 'League Gothic';
	text-decoration: none;
}
.purple__read__3{
	position: absolute;
	color: #ffffff;
	margin-top: 10px;
	width: 64px;
	height: 14px;
	top: 192px;
	left: 222px;
	font: 400 18px / 24px 'League Gothic';
	text-decoration: none;
}
	
.main-white {
	position: relative;
	background-color: #f9f9f9;
	width: 2400px;
	height: 613px;
	top: 0px;
	left: 0px;
}
.main-white--pingbuller{
	position: absolute;
	background-image: url(../img/square.png);
    background-repeat: no-repeat;
	width: 457px;
	height: 292px;
	top: 88px;
	left: 743px;
}

.man{
	background-image: url(../img/man.png);
    background-repeat: no-repeat;
	background-position: 0px 0px;
	position: absolute;
	width: 49px;
	height: 49px;
	top: 20px;
	left: -20px;
}


.pingbuller__text__top{
	position: absolute;
	color: #454545;
	font: 400 30px / 24px 'League Gothic';
	width: 100px;
	height: 22px;
	top: 35px;
	left: 50px;
}
.pingbuller__text__top__pink{
	position: absolute;
	color: #edbfff;
	font: 400 30px / 24px 'League Gothic';
	width: 110px;
	height: 22px;
	top: 35px;
	left: 155px;
}
.pingbuller__text__text{
	position: absolute;
	color: #454545;
	font: 300 16px / 24px 'Open Sans';
	width: 368px;
	height: 191px;
	padding-left: 5px;
	top: 75px;
	left: 40px;
}
.img-black{
	position: absolute;
	width: 100px;
	height: 27px;
	top: 300px;
	left: 180px;
}
.main-white--recent{
	position: absolute;
	width: 500px;
	height: 320px;
	top: 88px;
	left: 1230px;
}
.recent__text__top{
	position: absolute;
	color: #454545;
	font: 400 30px / 24px 'League Gothic';
	width: 150px;
	height: 22px;
}
.wow1{
	background-image: url(../img/wow1.png);
    background-repeat: no-repeat;
	position: absolute;
	width: 49px;
	height: 49px;
	top: 63px;
/*	left: 30px;*/
}
.recent__text{
	font: 700 16px / 24px 'Open Sans';
	position: absolute;
	color: #454545;
	width: 375px;
	height: 25px;
	margin-left: 60px;
	margin-top: 65px;
}
.recent__text__text{
	position: absolute;
	color: #454545;
	font: 300 16px / 24px 'Open Sans';
	width: 388px;
	height: 25px;
	margin-left: 60px;
	margin-top: 90px;
}
.wow2{
	background-image: url(../img/wow2.png);
    background-repeat: no-repeat;
	position: absolute;
	width: 49px;
	height: 49px;
	top: 123px;
/*	left: 30px;*/
}
.recent__text2{
	font: 700 16px / 24px 'Open Sans';
	position: absolute;
	color: #454545;
	width: 265px;
	height: 25px;
	margin-left: 60px;
	margin-top: 125px;
	
}
.recent__text__text2{
	position: absolute;
	color: #454545;
	font: 300 16px / 24px 'Open Sans';
	width: 388px;
	height: 25px;
	margin-left: 60px;
	margin-top: 150px;
}
.wow3{
	background-image: url(../img/wow3.png);
    background-repeat: no-repeat;
	position: absolute;
	width: 49px;
	height: 49px;
	top: 186px;
/*	left: 30px;*/
}
.recent__text3{
	font: 700 16px / 24px 'Open Sans';
	position: absolute;
	color: #454545;
	width: 265px;
	height: 25px;
	margin-left: 60px;
	margin-top: 190px;
}
.recent__text__text3{
	position: absolute;
	color: #454545;
	font: 300 16px / 24px 'Open Sans';
	width: 388px;
	height: 25px;
	margin-left: 60px;
	margin-top: 215px;
}
.read{
	position: absolute;
	color: #454545;
	font: 400 18px / 24px 'League Gothic';
	width: 85px;
	height: 22px;
	margin-left: 350px;
	margin-top: 285px;
}
.trust-marks-before{
	position: absolute;
	background-color: #f9f9f9;
	border-top: 3px solid #e6e6e6;
	border-bottom: 3px solid #e6e6e6;
	width: 2400px;
	height: 120px;
	top: 487px;
	left: 0px;
}
.trust-marks{
	position: absolute;
	background-image: url(../img/trust-marks.png);
    background-repeat: no-repeat;
	width: 790px;
	height: 65px;
	top: 515px;
	left: 813px;
}

.main__gray{
	position: relative;
	background-color: #ececec;
	width: 2400px;
	height: 403px;
	top: 0px;
	left: 0px;
}
.main__gray__logo{
	position: absolute;
	width: 320px;
	height: 250px;
	top: 124px;
	left: 720px;
}
.main__gray__logo__PINGBULL{
	position: absolute;
	color: #454545;
	font: 400 48px / 33.724px 'League Gothic';
	width: 122px;
	height: 36px;
	margin-top: 5px;
	margin-left: 0px;
}
.main__gray__logo__ER{
	position: absolute;
	color: #b9b9b9;
	font: 400 48px / 33.724px 'League Gothic';
	width: 29px;
	height: 36px;
	margin-top: 5px;
	margin-left: 128px;
}
.pingbuller__copy{
	position: absolute;
	color: #c5c5c5;
	font: italic 16px / 24px 'Open Sans';
	width: 220px;
	height: 25px;
	margin-top: 65px;
	margin-left: 0px;
}
.pingbuller__text{
	position: absolute;
	color: #787878;
	font: 300 16px / 24px 'Open Sans';
	width: 297px;
	height: 143px;
	margin-top: 105px;
	margin-left: 0px;
}

.main__gray__RECENT{
	position: relative;
	width: 320px;
	height: 250px;
	top: 124px;
	left: 1057px;
}
.RECENT{
	position: absolute;
	color: #454444;
	font: 400 30px / 24px 'League Gothic';
	width: 170px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0px;
}
.RECENT__text{
	position: absolute;
	color: #787878;
	font: 300 16px / 24px 'Open Sans';
	width: 295px;
	height: 191px;
	margin-top: 60px;
	margin-left: 0px;
}

.main__gray__NEWS{
	position: absolute;
	width: 320px;
	height: 250px;
	top: 124px;
	left: 1420px;
}
.NEWS{
	position: absolute;
	color: #454444;
	font: 400 30px / 24px 'League Gothic';
	width: 157px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0px;
}
.NEWS__text{
	position: absolute;
	color: #787878;
	font: 300 16px / 24px 'Open Sans';
	width: 300px;
	height: 191px;
	margin-top: 60px;
	margin-left: 0px;
}
.footer{
	position: relative;
	background: black url(../img/bg-footer.jpg) no-repeat;
	width: 2400px;
	height: 114px;
	top: 0px;
	left: 0px;
}
.footer__menu{
	position: absolute;
	color: #ffffff;
	font: 400 20px / 33.724px 'League Gothic';
	width: 538px;
	height: 30px;
	top: 40px;
	left: 719px;
}
.footer__menu__a {
/*	display: block;*/
	float: left;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	font: 400 24px / 33.724px 'League Gothic';
	margin-right: 27px;
	color: #ffffff;
}
.footer__menu__a:hover {
	border-bottom: 1px solid #edbfff;
}

.footer__Designed__AS{
	position: relative;
	width: 140px;
	height: 30px;
	top: 40px;
	left: 1543px;
}
.footer__Designed{
	position: absolute;
	color: #ffffff;
	font: 300 12px / 33.724px 'Open Sans';
	width: 72px;
	height: 30px;
}
.footer__AS{
	position: absolute;
	color: #ffffff;
	font: 700 12px / 33.724px 'Open Sans';
	width: 65px;
	height: 30px;
	left: 75px;
}
@media (min-width: 768px) and (max-width: 959px){
	.body {
	height: 2346px;
}
	.header{
	height: 768px;
}
	.top__logo{
	top: 70px;
	left: 836px;
}
	.top__menu{
	top: 115px;
	left: 836px;
}

	.arrow__left {
	left: 815px;
}
	.slider__text{
	width: 322px;
	height: 218px;
	left: 858px;
	overflow: hidden;
}
	.slider__text__top{
		font: 400 48px / 36px 'League Gothic';
}
.slider__text__slogan{
	font: 400 24px / 36px 'League Gothic';
	margin: 15px 15px 10px 0px;
}
.slider__text__text{
	font: 300 16px / 30px 'Open Sans';
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
	.slider__iphones{
	width: 297px;
	height: 380px;
	top: -20px;
	left: 1233px;
}
	.arrow__right{
	top: 180px;
	left: 1562px;
}
	.slider{
	top: 220px;
	left: 1338px;
}
	.main__purple__1{
	width: 208px;
	height: 214px;
	top: 830px;
	left: 858px;
}
	.main__purple__2{
	width: 208px;
	height: 214px;
	top: 830px;
	left: 1105px;
}
	.main__purple__3{
	width: 208px;
	height: 214px;
	top: 830px;
	left: 1352px;
}
	.sprite-purple__1, .sprite-purple__2, .sprite-purple__3{
	top: 5px;
	left: 5px;
}

.purple__about__1, .purple__about__2, .purple__about__3{
	width: 150px;
	height: 22px;
	font: 400 24px / 24px 'League Gothic';
}
.purple__text__1, .purple__text__2, .purple__text__3{
	font: 300 16px / 24px 'Open Sans';
	width: 170px;
	height: 146px;
	margin-left: 50px;
	margin-top: 20px;
	overflow: hidden;
}
	.purple__read__1, .purple__read__2, .purple__read__3{
	margin-top: 10px;
	width: 64px;
	height: 14px;
	top: 180px;
	left: 152px;
}
	.main-white {
		height: 608px;
	}
	.main-white--pingbuller{
	width: 320px;
	height: 292px;
	top: 88px;
	left: 869px;
}
.pingbuller__text__top{
	font: 400 24px / 24px 'League Gothic';
	width: 85px;
	height: 22px;
	top: 23px;
	left: 50px;
}
.pingbuller__text__top__pink{
	font: 400 24px / 24px 'League Gothic';
	width: 90px;
	height: 22px;
	top: 47px;
	left: 50px;
}
.pingbuller__text__text{
	width: 269px;
	height: 150px;
	padding-left: 5px;
	top: 75px;
	left: 40px;
	overflow: hidden;
}
.img-black{
	left: 120px;
}
	.main-white--recent{
	width: 327px;
	height: 320px;
	top: 88px;
	left: 1250px;
	overflow: hidden;
}
.read{
	margin-left: 240px;
	margin-top: 275px;
}
	.trust-marks-before{
	height: 123px;
	top: 591px;
	left: 0px;
}
	.trust-marks{
	background-image: url(../img/trust-marks768.png);
	width: 754px;
	height: 65px;
	left: 848px;
	top: 620px;
}
	.main__gray {
		height: 400px;
		top: 112px
	}
	.main__gray__logo{
	width: 224px;
	height: 214px;
	top: 44px;
	left: 836px;
}
	.pingbuller__text{
	width: 224px;
	height: 143px;
	margin-top: 65px;
	margin-left: 0px;
	overflow: hidden;
}
.main__gray__RECENT{
	width: 224px;
	height: 214px;
	top: 44px;
	left: 1100px;
}
.RECENT{
	width: 170px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0px;
}
.RECENT__text{
	width: 224px;
	height: 143px;
	margin-top: 60px;
	margin-left: 0px;
	overflow: hidden;
}

.main__gray__NEWS{
	width: 224px;
	height: 214px;
	top: 44px;
	left: 1360px;
	
}
.NEWS{
	width: 157px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0px;
}
.NEWS__text{
	width: 224px;
	height: 143px;
	margin-top: 60px;
	margin-left: 0px;
	overflow: hidden;
}
	.footer{
	background: black url(../img/bg-footer768.jpg) no-repeat;
	height: 200px;
	top: 110px;
}
	.footer__menu{
	left: 835px;
}
	.footer__Designed__AS{
	top: 80px;
	left: 1425px;
}
}
@media (min-width: 480px) and (max-width: 767px){
	.body {
	height: 3036px;
}
	.header{
	height: 549px;
}
	.top__logo{
		top: 70px;
		left: 1125px;
}
	.top__menu{
	width: 244px;
	height: 263px;
	top: 90px;
	left: 1078px;
	text-align: center;
	border-radius: 8px;
    background-color: rgba(63,50,71,0.9);
    border: 1px solid #444;
	z-index: 2;
}
	.menu__a {
		float: none;
		font: 400 24px / 42px 'League Gothic';
}
	.menu__a:hover {
	border-bottom: 3px solid #edbfff;
}
	.menu__li{
		border-bottom: #523e5a;
		border-radius: 1px;
		border-style: solid;
		border-width: 1px 0px;
	}
	.menu__li:hover{
		border-bottom: 3px solid #edbfff;
		background-color: rgba(41,33,47,0.9);
	}
	
	.header__slider{
	 top: -100px;
	 width: 2400px;
	 height: 246px;
}
	.arrow__left {
	top: 110px;
	left: 960px;
}
	.slider__text{
	width: 230px;
	height: 65px;
	top: 100px;
	left: 1000px;
	overflow: hidden;
}
	.slider__text__top{
	font: 400 36px / 24px 'League Gothic';
}
	.slider__text__slogan{
	margin: 15px 15px 15px 0px;
	font: 400 18px / 24px 'League Gothic';
}

	.slider__iphones{
	width: 192px;
	height: 264px;
	top: -10px;
	left: 1217px;
}
	.arrow__right{
	top: 110px;
	left: 1418px;
}
	.slider{
	top: 199px;
	left: 1153px;
}
.main__purple{
	background: black url(../img/bg-purple480.jpg) no-repeat;
	height: 600px;
	}
.main__purple__1{
	width: 445px;
	height: 136px;
	top: 630px;
	left: 994px;
}
.main__purple__2{
	width: 445px;
	height: 136px;
	top: 787px;
	left: 994px;
}
.main__purple__3{
	width: 445px;
	height: 136px;
	top: 948px;
	left: 994px;
}
.purple__about__1 {
	font: 400 24px / 24px 'League Gothic';
	width: 183px;
	height: 22px;
	margin-left: 50px
}
.purple__about__2{
	font: 400 24px / 24px 'League Gothic';
	width: 183px;
	height: 22px;
	margin-left: 50px
}
.purple__about__3{
	font: 400 24px / 24px 'League Gothic';
	width: 183px;
	height: 22px;
	margin-left: 50px
}
.purple__text__1{
	width: 400px;
	height: 75px;
	margin-left: 50px;
	margin-top: 10px;
}
.purple__text__2{
	width: 400px;
	height: 75px;
	margin-left: 50px;
	margin-top: 10px;
}
.purple__text__3{
	width: 400px;
	height: 75px;
	margin-left: 50px;
	margin-top: 10px;
}
.purple__read__1{
	width: 62px;
	height: 24px;
	top: 102px;
	left: 382px;
}
.purple__read__2{
	width: 62px;
	height: 24px;
	top: 102px;
	left: 382px;
}
.purple__read__3{
	width: 62px;
	height: 24px;
	top: 102px;
	left: 382px;
}	
	
	
	
	.main-white {
	height: 1023px;
}
.main-white--pingbuller{
	width: 416px;
	height: 272px;
	top: 50px;
	left: 1030px;
}

.img-black{
	top: 280px;
	left: 150px;
}
	.main-white--recent{
	width: 328px;
	height: 292px;
	top: 410px;
	left: 1066px;
	overflow: hidden;
		
}
.read{
	margin-left: 250px;
	margin-top: 255px;
}
	.trust-marks-before{
	width: 2400px;
	height: 237px;
	top: 790px;
	left: 0px;
}
.trust-marks{
	background-image: url(../img/trust-marks480.png);
	width: 345px;
	height: 154px;
	top: 830px;
	left: 1070px;
}
	.main__gray{
	height: 666px;
	top: 10px;
}
.main__gray__logo{
	width: 447px;
	height: 135px;
	top: 124px;
	left: 979px;
}
.main__gray__logo__PINGBULL{
	font: 400 24px / 24px 'League Gothic';
	width: 70px;
	height: 24px;
}
.main__gray__logo__ER{
	font: 400 24px / 24px 'League Gothic';
	width: 19px;
	height: 24px;
	margin-top: 5px;
	margin-left: 63px;
}
	.pingbuller__copy{
	opacity: 0;
}
.pingbuller__text{
	font: 300 16px / 24px 'Open Sans';
	width: 440px;
	height: 93px;
	margin-top: 35px;
	margin-left: 0px;
	overflow: hidden;
}

.main__gray__RECENT{
	width: 447px;
	height: 135px;
	top: 284px;
	left: 979px;
}
.RECENT{
	font: 400 24px / 24px 'League Gothic';
	width: 170px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0px;
}
.RECENT__text{
	font: 300 16px / 24px 'Open Sans';
	width: 440px;
	height: 93px;
	margin-top: 35px;
	margin-left: 0px;
	overflow: hidden;
}

.main__gray__NEWS{
	width: 447px;
	height: 135px;
	top: 454px;
	left: 979px;
}
.NEWS{
	font: 400 24px / 24px 'League Gothic';
	width: 157px;
	height: 22px;
	margin-top: 5px;
	margin-left: 0px;
}
.NEWS__text{
	font: 300 16px / 24px 'Open Sans';
	width: 440px;
	height: 93px;
	margin-top: 35px;
	margin-left: 0px;
	overflow: hidden;
}
	.footer{
	background: black url(../img/bg-footer768.jpg) no-repeat;
	height: 200px;
	top: 948px;
	left: 0px;
}
.footer__menu{
	width: 471px;
	height: 25px;
	top: 40px;
	left: 982px;
}
.footer__menu__a {
	font: 400 20px / 33.724px 'League Gothic';
}

.footer__Designed__AS{
	top: 90px;
	left: 1131px;
}
}
@media (min-width: 320px) and (max-width: 479px){
	.body {
		height: 2525px;
	}
	.header{
	height: 516px;
}
	.top__logo{
	top: 70px;
	left: 1125px;
}
	.top__menu{
	width: 244px;
	height: 63px;
	top: 147px;
	left: 1133px;
}
	.menu__a {
		float: none;
		font: 400 24px / 33.724px 'League Gothic';
		border-bottom: 3px solid #edbfff;
}
	.menu__a:hover {
	border-bottom: 3px solid #edbfff;
		text-align: center;
		z-index: 3;
		
}
	.menu__li{
		width: 132px; 
		text-align: center;
		border-bottom: none;
		border-radius: none;
		border-style: none;
		border-width: none;
	}
	.menu__li:hover{
		text-align: center;
		border-bottom: 3px solid #edbfff;
		background-color: rgba(41,33,47,0.9);
		z-index: 4;
	}
/*
	ul {
    display: block;
    margin-left: 1px;
	height: 39px;
    list-style: none;
	width: 1000px;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
	position: relative;
	width: 142.8px;
	box-shadow: 0px 2px   16px 1px rgba(0,0,0,0.69);
}
ul.menu > li > a {
    display: block;
    padding-top: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
	text-align: center;
	height: 30px;
	vertical-align: middle;
}

ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 135px;
    top: 37px;
    left: 0;
    background-color: black;
    border: 1px solid black ;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
	line-height: 8px;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}
.menu li a span{
	font-size:10px;
	margin-left:5px;
}
*/
	
	.header__slider{
	background-color: transparent;
	 left: 0px;
	 top: 140px;
	 width: 2400px;
	 height: 400px;
	z-index: 1;
}
.arrow__left {
	position: absolute;
	width: 28px;
	height: 38px;
	top: 80px;
	left: 1040px;
}
.slider__text{
	width: 221px;
	height: 61px;
	top: 70px;
	left: 1105px;
	overflow: hidden;
}
.slider__text__top{
	font: 400 36px / 24px 'League Gothic';
}
.slider__text__slogan{
	top: 35px;
	font: 400 18px / 24px 'League Gothic';
	margin: 0px 15px 15px 0px;
}
.slider__iphones{
	opacity: 0;
}
.arrow__right{
	top: 80px;
	left: 1337px;
}
.slider{
	top: 131px;
	left: 1153px;
}
.main{
	width: 2400px;
	height: 1350px;
	top: 846px;
	left: 0px;
}
.main__purple{
	background: black url(../img/bg-purple320.jpg) no-repeat;
	height: 600px;
	}
.main__purple__1{
	width: 279px;
	height: 154px;
	top: 558px;
	left: 1075px;
}
.main__purple__2{
	width: 279px;
	height: 154px;
	top: 729px;
	left: 1075px;
}
.main__purple__3{
	width: 279px;
	height: 154px;
	top: 918px;
	left: 1075px;
}
.purple__text__1{
	font: 300 16px / 24px 'Open Sans';
	width: 205px;
	height: 75px;
	margin-top: 30px;
	overflow: hidden;
}
.purple__text__2{
	font: 300 16px / 24px 'Open Sans';
	width: 205px;
	height: 75px;
	margin-top: 30px;
	overflow: hidden;
}
.purple__text__3{
	font: 300 16px / 24px 'Open Sans';
	width: 205px;
	height: 75px;
	margin-top: 30px;
	overflow: hidden;
}
.purple__read__1{
	margin-top: 0px;
	top: 128px;
	left: 202px;
}
.purple__read__2{
	margin-top: 0px;
	top: 128px;
	left: 202px;
}
.purple__read__3{
	margin-top: 0px;
	top: 128px;
	left: 202px;
}
	.main-white {
	height: 1213px;
}
.main-white--pingbuller{
	width: 256px;
	height: 272px;
	top: 88px;
	left: 1084px;
}
.pingbuller__text__top{
	font: 400 24px / 24px 'League Gothic';
	width: 80px;
	height: 22px;
	top: 20px;
	left: 50px;
}
.pingbuller__text__top__pink{
	font: 400 24px / 24px 'League Gothic';
	width: 90px;
	height: 22px;
	top: 45px;
	left: 50px;
}
.pingbuller__text__text{
	width: 196px;
	height: 167px;
	overflow: hidden;
}
.img-black{
	top: 300px;
	left: 100px;
}
.main-white--recent{
	width: 315px;
	height: 300px;
	top: 458px;
	left: 1065px;
}
.recent__text{
	width: 235px;
	height: 25px;
}
.recent__text__text{
	width: 268px;
	height: 25px;
	overflow: hidden;
}
.recent__text2{
	width: 235px;
	height: 25px;
}
.recent__text__text2{
	width: 268px;
	height: 25px;
	overflow: hidden;
}
.recent__text3{
	width: 235px;
	height: 25px;
}
.recent__text__text3{
	width: 268px;
	height: 25px;
	overflow: hidden;
}
.read{
	width: 85px;
	height: 22px;
	margin-left: 240px;
	margin-top: 255px;
}
.trust-marks-before{
	height: 423px;
	top: 1009px;
	left: 0px;
}
.trust-marks{
	width: 296px;
	height: 64px;
	top: 1015px;
	left: 1102px;
	float: left;
}
 .trust-marks:nth-child(1){
 }
  .trust-marks:nth-child(2){
	background-position:-74px 0px;
 }
  .trust-marks:nth-child(3){
	background-position:-143px 0px;
 }
  .trust-marks:nth-child(4){
	background-position:-210px 0px;
	width:55px;
 }
  .trust-marks:nth-child(5){
	background-position:-268px 0px;
	width:105px;
 }
  .trust-marks:nth-child(6){
	background-position:-373px 0px;
	width:85px;
 }
.main__gray{
	opacity: 0;
}
.footer{
	top: 750px;
	left: 0px;
}
.footer__menu{
	opacity: 0;
}
.footer__Designed__AS{
	top: 40px;
	left: 1131px;
}		
}