html {
    background-color: black;
}
body {
    margin : 0 auto;
    padding: 0px;
    max-width : 2400px;
	max-height : 2306px;
/*    line-height : 150%;*/
    background-color : white;
/*	font-family: "Open Sans", sans-serif;*/
    }

.header {
	background-image: url(.../img/bg-top960.png);
		max-width: 2400px;
		max-height: 869px;
	
}
.logo {
	float: left;
	width: 152px;
	height: 58px;
	top: 51px;
	left: 719px;
}
.PINGBULL {
/*	float: left;*/
/*	font-family: "LeagueGothic Regular" sans-serif;*/
	width: 120px;
	height: 36px;
	top: 70px;
	left: 720px;
} 
.ER {
/*	float: left;*/
	width: 29px;
	height: 36px;
	top: 70px;
	left: 842px;
}
.menu {
	width: 631px;
	height: 18px;
	top: 76px;
	left: 1047px;
}
.menu__item a {
	float: left;
	color: white;
	text-decoration: none;
	background: black;
	margin-left: 50px;
}
/*
.menu__item .a:hover {
	text-decoration: underline;
}
*/


.clearfix:after{
	content: " ";
	clear: both;
	display: block;
}
