.header{
	background: url(../img/bg-top.jpg) no-repeat;
	background-size: cover;
	height: 869px;
}
.header__top-logo{
	position: absolute;
	float: left;
	top: 7%;
	left: 400px;
	}
	.top__menu{
	position: absolute;
	float: left;
	width: 630px;
	height: 34px;
	top: 8%;
	left: 750px;
}
.menu__a {
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	font: 400 24px / 33.724px 'League Gothic';
	margin-right: 40px;
	color: #ffffff;
	float: left;
}
	.header__slider-phone{
	background-color: rgba(0, 0, 0, 0.2);
	top: 29%;
	width: 100%;
	height: 359px;
}
	.slider__text{
	width: 450px;
	height: 231px;
	top: 25%;
	left: 20%;
}
	.slider__text__text{
	display: block;
	position: absolute;
	top: 55px;
	width: 400px;
	height: 160px;
	font: 100 18px / 24px 'Open Sans';
	color: #ffffff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
	.header__slider-phone::before{
	top: 43%;
	left: 7%;
	}
.header__slider-phone::after{
	top: 43%;
	right: 7%;
}
	.slider__iphones{
	display: block;
	position: absolute;
	width: 238px;
	height: 330px;
	top: -5%;
	left: 60%;
}
	.slider__nav{
	top: 80%;
	left: 68%;
}
	
	.main__purple{
	background: url(../img/bg-purple320.jpg) no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	top: 88%;
	height: 598px;
	}
.main__purple__1{
	position: absolute;
	width: 210px;
	height: 213px;
	top: 10%;
	left: 10%;
}
.main__purple__2{
	position: absolute;
	width: 210px;
	height: 213px;
	top: 10%;
	left: 40%;
}
.main__purple__3{
	position: absolute;
	width: 210px;
	height: 213px;
	top: 10%;
	left: 70%;
}
	.purple__text__1{
	width: 151px;
	height: 146px;
}
.purple__text__2{
	width: 151px;
	height: 146px;
}
.purple__text__3{
	width: 151px;
	height: 146px;
}
.purple__read__1{
	top: 167px;
	left: 142px;
}
.purple__read__2{
	top: 167px;
	left: 142px;
}
.purple__read__3{
	top: 167px;
	left: 142px;
}
	.main-white {
	width: 100%;
	height: 1100px;
	top: 135%;
}
.main-white--pingbuller{
	width: 360px;
	height: 324px;
	top: 8%;
	left: 8%;
}
.pingbuller__text__top{
	top: 33px;
	left: 40px;
}
.pingbuller__text__top__pink{
	top: 33px;
	left: 120px;
}
.pingbuller__text__text{
	width: 248px;
	height: 147px;
	padding-left: 5px;
}
.man{
	background-image: url(../img/man.png);
    background-repeat: no-repeat;
	position: absolute;
	width: 49px;
	height: 49px;
	top: 19px;
	left: -12px;
}
	.img-black{
	position: absolute;
	width: 100px;
	height: 27px;
	top: 290px;
	left: 130px;
}
.main-white--recent{
	width: 365px;
	height: 280px;
	top: 10%;
	left: 50%;
}
.recent__text__text{
	width: 400px;
	height: 25px;
}
.recent__text__text2{
	width: 400px;
	height: 25px;
}
.recent__text__text3{
	width: 400px;
	height: 25px;
}
.read{
	margin-left: 250px;
}
.trust-marks{
	display: block;
	position: absolute;
	margin-top: 550px;
	margin-left: 20%;
}
.main-white--TM{
	display: none;
}
	.main__gray{
	display: block;
	position: absolute;
	background-color: #ececec;
	width: 100%;
	height: 400px;
	margin-top: 780px;
}
.main__gray__logo{
	position: absolute;
	top: 15%;
	left: 5%;
}
.main__gray__logo__PINGBULL{
	position: absolute;
	font: 400 24px / 24px 'League Gothic';
	width: 70px;
	height: 24px;
}
.main__gray__logo__ER{
	position: absolute;
	font: 400 24px / 24px 'League Gothic';
	width: 19px;
	height: 24px;
	margin-left: 63px;
}
	.pingbuller__copy{
	position: absolute;
	color: #c5c5c5;
	font: italic 16px / 24px 'Open Sans';
	width: 220px;
	height: 25px;
	margin-top: 35px;
	margin-left: 0px;
}
.pingbuller__text{
	font: 300 16px / 24px 'Open Sans';
	width: 297px;
	height: 126px;
	margin-top: 65px;
	overflow: hidden;
}
.main__gray__RECENT{
	position: absolute;
	top: 15%;
	left: 37%;
}
.RECENT{
	font: 400 24px / 24px 'League Gothic';
	width: 170px;
	height: 22px;
	margin-top: 5px;
}
.RECENT__text{
	font: 300 16px / 24px 'Open Sans';
	width: 290px;
	height: 178px;
	margin-top: 5px;
}

.main__gray__NEWS{
	position: absolute;
	top: 15%;
	left: 68%;
}
.NEWS{
	font: 400 24px / 24px 'League Gothic';
	width: 157px;
	height: 22px;
	margin-top: 5px;
}
.NEWS__text{
	font: 300 16px / 24px 'Open Sans';
	width: 290px;
	height: 178px;
	margin-top: 5px;
}
.footer{
	position: absolute;
	background: url(../img/bg-footer768.jpg) no-repeat;
	width: 100%;
	height: 200px;
	margin-top: 250px;
}
.footer__menu{
	display: block;
	position: absolute;
	color: #ffffff;
	font: 400 20px / 33.724px 'League Gothic';
	width: 538px;
	height: 30px;
	top: 40%;
	left: 13%;
}
.footer__menu__a {
	float: left;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	font: 400 24px / 33.724px 'League Gothic';
	margin-right: 27px;
	color: #ffffff;
}
	.footer__menu__a:hover {
	text-decoration: none;
	color: #ffffff;
}
.footer__Designed__AS{
	top: 40%;
	left: 80%;
}