html {
    background-color: gainsboro;
}
body {
    margin : 0 auto;
    padding: 50px;
    max-width : 1062px;
	max-height : 200%;
    line-height : 150%;
    background-color : white;
	font-family: "Open Sans", sans-serif;
    }
h1 {
	font-size: 50px;
	margin: 10px 40px 40px 5px;
	font-weight : bold;
	
}

div ul {
	display: inline-block;
	line-height: 40px;
	height: 41px;
	width: 967px;
	background-color: #4f4e4e;
   }
 
   div li {
	display: inline-block;
    color: white;
    text-align: center;
	 height: 41px;
   }
div li:hover {
	background-color: #303030;
	border: darkgrey;
	border-style: solid;
	border-width: 0px 1px;
}
div a {
	color: white;
	text-decoration: none;
}
.leftcol {
	width: 145px;
}

.currentcol {
	width: 100px;
}

.centercol {
	width: 163px;
}

.rightcol {
	width: 500px;
	text-align: left;
	padding-left: 40px;
}

.clearfix:after {
	clear: both;
	display: block;
}


.leftmenu {
	float: left;
	margin-top: 40px;
	width: 20%;
}

.leftmenu li {
	border: 1px solid black;
	padding-left: 10px;
	height: 40px;
	text-decoration: none;
}

.leftmenu a {
	text-decoration: none;
	color: #656363;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 24px;
}

.leftmenu li:hover {
	background-color: #f9f9f9;
	font-weight: bold;
	padding-left: 37px;
}
.img {
	float: right;
	width: 75%;
	margin-top: 40px;
	margin-left: 0px;
	padding: 10px;
}
	
p {
	display: block;
	clear: both;
	font-size: 13px;
	margin-left: 280px;
	width: 620px;
  	height: 220px;
}

.menu-1 {
	height: 42px;
	width: 950px;
	background: #e1e1e1;
   }

   .menu-1 li {
    float: left; 
    margin: 0; 
  	line-height: 40px;
	font-size: 14px;
   }

   .menu-1 a {
    display: inline-block;
	width: 190px;
    color: black;
    text-decoration: none;
    text-align: center;
   }

   .menu-1 a:hover {
    color: black;
   	text-decoration: underline;
   }